boost_1_65_1/
boost_1_65_1.tar.gz
viewer/ind.txt
viewer/mat.txt
*.o
viewer/zpr.exe
viewer/boost_1_65_1/*
viewer/run
*.out
viewer/.DS_Store
.DS_Store
viewer/boost_wkt
viewer/orc.txt
*.swp
20171006data.tar.gz
viewer/parks.dat
viewer/bak/parks.dat
data/rob/TA_PEP_SVW_polygon.dbf
data/rob/TA_PEP_SVW_polygon.prj
data/rob/TA_PEP_SVW_polygon.shp
data/rob/TA_PEP_SVW_polygon.shx
*.exe
*.exe
viewer/~$result.xlsx
